body {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    color: #465166;
}

.navbar-cars24 {
    box-shadow: 0 1px 0 0 #dde5eb;
    margin-bottom: 1px;
    background-color: #fff;
}

.logo {
    max-width: 80px;
}

@media (min-width:768px){
    #left-sidebar {
        overflow-y: auto;
    }
    #main-content {
        overflow-y: auto;
    }
}

.sidebar-item {
    padding-left: 0px;
    font-size: 16px;
    color: inherit;
}